<!-- templates/navbar.html -->
<header>
   <nav class="container">
    <a href="/index.html" class="logo-link">
        <img src="../images/channel_profile_aljohn_polyglot.png" alt="Aljohn Polyglot Logo" class="logo-img">
        <span class="logo-text">Aljohn Polyglot</span>
    </a>
    <ul class="nav-links">
        <li><a href="/index.html#about">About</a></li>
        <li class="dropdown">
            <a href="/index.html#languages" class="dropbtn">Languages <i class="fas fa-caret-down" style="font-size: 0.8em; margin-left: 4px;"></i></a>
            <div class="dropdown-content">
                <a href="languages/tagalog.html">Tagalog</a>
                <a href="languages/cebuano.html">Cebuano</a>
                <a href="languages/english.html">English</a>
                <a href="languages/spanish.html">Spanish</a>
                <a href="languages/french.html">French</a>
                <a href="languages/indonesian.html">Indonesian</a>
                <a href="languages/italian.html">Italian</a>
                <a href="languages/portuguese.html">Portuguese</a>
                <a href="languages/russian.html">Russian</a>
                <a href="languages/swedish.html">Swedish</a>
                <a href="languages/german.html">German</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="/index.html#playlists" class="dropbtn">Videos <i class="fas fa-caret-down" style="font-size: 0.8em; margin-left: 4px;"></i></a>
            <div class="dropdown-content">
                <a href="https://www.youtube.com/playlist?list=PLHC88jnBSUqI16_hXQTexcWl2Ts2O0I1t" target="_blank">OmeTV</a>
                <a href="https://www.youtube.com/playlist?list=PLHC88jnBSUqLrstLe9lQq9XY3qC-WSFld" target="_blank">Collaborations</a>
                <a href="https://www.youtube.com/playlist?list=PLHC88jnBSUqIKE4b2wL1SO6kkCqj74Y1s" target="_blank">Polyglot Talks</a>
                <a href="https://www.youtube.com/playlist?list=PLHC88jnBSUqLShytjDmapvUieK3YjDBRE" target="_blank">Learning Methods</a>
                <a href="https://www.youtube.com/playlist?list=PLHC88jnBSUqKUjtmfx_8g-0Bg0Kq5IS2P" target="_blank">Polyglot Shocks</a>
                <a href="https://www.youtube.com/playlist?list=PLHC88jnBSUqL2xzWbp8y-Lz-WrxSfErbx" target="_blank">Filipinos Speak...</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="index.html#resources" class="dropbtn">Resources <i class="fas fa-caret-down" style="font-size: 0.8em; margin-left: 4px;"></i></a>
            <div class="dropdown-content">
                <a href="blog.html">Polyglot Papers Blog</a>
                <a href="pathway.html">Pathway</a>
                <a href="apps.html">Essential Apps & Tools</a>
                <a href="routine.html">Daily Routine</a>
                <a href="library.html">My Library</a>
                <a href="groups.html">Study Groups & Communities</a>
                <a href="languagecenters.html">Language & Culture Centers</a>
                <a href="FAQ.html">FAQ</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Services <i class="fas fa-caret-down" style="font-size: 0.8em; margin-left: 4px;"></i></a>
            <div class="dropdown-content">
                <a href="coaching.html">Language Coaching</a>
                <a href="translation.html">Translation</a>
            </div>
        </li>
        <li><a href="shop.html">Shop</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="https://www.youtube.com/@aljohnpolyglot" target="_blank" class="nav-cta">YouTube Channel</a></li>
    </ul>
    <div class="menu-toggle">
        <div class="hamburger"></div>
    </div>
</nav>
</header>